name: CI
on:
  push:
    branches:
      - main
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
 
 
  test-crossenv:
    runs-on: ubuntu-latest
    strategy:
      # If one platform fails, allow the rest to keep testing if `CI-no-fail-fast` label is present
      fail-fast: ${{ !contains(github.event.pull_request.labels.*.name, 'CI-no-fail-fast') }}
      matrix:
        platform: [
          { target: "aarch64-unknown-linux-gnu", arch: "aarch64" },
          { target: "armv7-unknown-linux-gnueabihf", arch: "armv7" },
        ]
    steps:
      - uses: actions/checkout@master
      - name: Build wheels
        run: |
          echo 'set -ex
          curl -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
          source ~/.cargo/env
          rustup target add ${{ matrix.platform.target }}
          # https://github.com/pypa/setuptools_scm/issues/707
          git config --global --add safe.directory /io
          cd rqrcode/rqrcode/
          python3.9 -m pip install crossenv
          python3.9 -m crossenv "/opt/python/cp39-cp39/bin/python3" --cc $TARGET_CC --cxx $TARGET_CXX --sysroot $TARGET_SYSROOT --env LIBRARY_PATH= --manylinux manylinux1 venv
          . venv/bin/activate
          build-pip install cffi wheel "setuptools>=62.4"
          cross-expose cffi
          pip install wheel
          pip install -e ../../
          python setup.py bdist_wheel --py-limited-api=cp37
          ls -la dist/
          ' > build-wheels.sh
          docker run --rm -v "$PWD":/io -w /io messense/manylinux2014-cross:${{ matrix.platform.arch }} bash build-wheels.sh
      - name: Install abi3 wheel and run tests
        uses: uraimo/run-on-arch-action@v2.0.5
        with:
          arch: ${{ matrix.platform.arch }}
          distro: ubuntu20.04
          dockerRunArgs: |
            --volume "${PWD}/rqrcode:/rqrcode"
          install: |
            apt-get update
            apt-get install -y --no-install-recommends python3 python3-dev python3-pip build-essential libffi-dev
          run: |
            cd /rqrcode
            python3 --version
            pip3 install rqrcode/dist/rqrcode*.whl
            python3 -c "rqrcode.qrcode_unicode("hello")"
    name:  ${{ matrix.python-version }} ${{ matrix.platform.os }}-${{ matrix.platform.python-architecture }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      # If one platform fails, allow the rest to keep testing if `CI-no-fail-fast` label is present
      fail-fast: ${{ !contains(github.event.pull_request.labels.*.name, 'CI-no-fail-fast') }}
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12-dev", pypy-3.7, pypy-3.8, pypy-3.9]
        platform: [
          { os: "macos-latest",   python-architecture: "x64", rust-target: "x86_64-apple-darwin" },
          { os: "ubuntu-latest", python-architecture: "x64", rust-target: "x86_64-unknown-linux-gnu" },
          { os: "windows-latest", python-architecture: "x64", rust-target: "x86_64-pc-windows-msvc" },
          { os: "windows-latest", python-architecture: "x86", rust-target: "i686-pc-windows-msvc" },
        ]
        exclude:
          # No 32-bit pypy 3.7 on Windows
          - python-version: pypy-3.7
            platform: { os: "windows-latest", python-architecture: "x86" }
          # No 32-bit pypy 3.8 on Windows
          - python-version: pypy-3.8
            platform: { os: "windows-latest", python-architecture: "x86" }
          # No 32-bit pypy 3.9 on Windows
          - python-version: pypy-3.9
            platform: { os: "windows-latest", python-architecture: "x86" }

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.platform.python-architecture }}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.rust-target }}

      - name: Install Rust aarch64-apple-darwin target
        if: matrix.platform.os == 'macos-latest'
        run: rustup target add aarch64-apple-darwin

      - name: Install test dependencies
        run: pip install --upgrade nox

      - name: Build package
        run: pip install -e .

      - name: Test examples
        shell: bash
        env:
          PYTHON: ${{ matrix.python-version }}
        run: nox -s test-examples


      - name: Test sdist vendor Rust crates
        shell: bash
        run: nox -s test-sdist-vendor
        env:
          CARGO_BUILD_TARGET: ${{ matrix.platform.rust-target }}

 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu
      - name: Install cargo-zigbuild
        run: |
          python3 -m pip install cargo-zigbuild
      - name: Build package
        run: pip install -e .
      - name: Build wheel using cargo-zigbuild
        shell: bash
        env:
          CARGO: cargo-zigbuild
          CARGO_BUILD_TARGET: aarch64-unknown-linux-gnu
          PYO3_CROSS_LIB_DIR: /opt/python/cp38-cp38/lib
        run: |
          mkdir -p $PYO3_CROSS_LIB_DIR
          docker cp -L $(docker create --rm quay.io/pypa/manylinux2014_aarch64:latest):/opt/python/cp38-cp38 /opt/python
          cd rqrcode/rqrcode
          python -m pip install wheel
          python setup.py bdist_wheel --plat-name manylinux2014_aarch64
          ls -la dist/
      - uses: uraimo/run-on-arch-action@v2.1.1
        name: Install built wheel
        with:
          arch: aarch64
          distro: ubuntu20.04
          dockerRunArgs: |
            --volume "${PWD}/rqrcode/rqrcode:/io"
          install: |
            apt-get update
            apt-get install -y --no-install-recommends python3 python3-pip
            pip3 install -U pip
          run: |
            pip3 install namespace_package --no-index --find-links /io/dist/ --force-reinstall
            python3 -c "from namespace_package import rust; assert rust.rust_func() == 14"
            python3 -c "from namespace_package import python; assert python.python_func() == 15"


    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin
      - uses: pypa/cibuildwheel@v2.3.1
        env:
          CIBW_BUILD: cp39-*
          CIBW_BEFORE_BUILD: pip install -e .
          CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
          CIBW_BUILD_VERBOSITY: 1
        with:
          package-dir: rqrcode/rqrcode


    name: Test Emscripten
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: |
          PYODIDE_VERSION=0.21.0

          cd emscripten
          npm i pyodide@0.21.0 prettier
          cd node_modules/pyodide/
          node ../prettier/bin-prettier.js -w pyodide.asm.js
          EMSCRIPTEN_VERSION=$(node -p "require('./repodata.json').info.platform.split('_').slice(1).join('.')")
          PYTHON_VERSION=3.10

          echo "PYODIDE_VERSION=$PYODIDE_VERSION" >> $GITHUB_ENV
          echo "EMSCRIPTEN_VERSION=$EMSCRIPTEN_VERSION" >> $GITHUB_ENV
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_ENV
          echo "ORIG_PATH=$PATH" >> $GITHUB_ENV
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src
          targets: wasm32-unknown-emscripten
      - uses: mymindstorm/setup-emsdk@v11
        with:
          version: ${{env.EMSCRIPTEN_VERSION}}
          actions-cache-folder: emsdk-cache
      - uses: actions/setup-python@v4
        id: setup-python
        with:
          python-version: ${{env.PYTHON_VERSION}}
      - run: pip install nox
      - uses: actions/cache@v3
        with:
          path: |
            tests/pyodide
          key: ${{ hashFiles('tests/*.js') }} - ${{ hashFiles('noxfile.py') }} - ${{ steps.setup-python.outputs.python-path }}
      - uses: Swatinem/rust-cache@v2
      - name: Test
        run: |
          export PATH=$ORIG_PATH:$PATH
          nox -s test-examples-emscripten