name: CI
on:
  push:
    branches:
      - main
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-18.04, macOS-latest, windows-latest]
        # platform: [
        #   { target: "x86_64-unknown-linux-gnu", arch: "x86_64" },
        #   { target: "x86_64-apple-darwin", arch: "x86_64" },
        #   { target: "x86_64-pc-windows-gnu", arch: "x86_64" }
        # ]
        #include:
          # pypy-3.7 on Mac OS currently fails trying to compile
          # brotlipy. Moving pypy3 to only test linux.
          #- python-version: pypy-3.7
            #os: ubuntu-latest
            #experimental: false
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies and Build wheels for Python ${{ matrix.python-version }}
        run: |
            curl -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
            source ~/.cargo/env
            # rustup target add ${{ matrix.platform.target }}
            #git config --global --add safe.directory /io
            apt-get install tree
            python -m pip install  pip==22.3.1
            python -m pip install  cffi wheel "setuptools>=62.4" setuptools-rust maturin
            pip list
            python setup.py bdist_wheel 

